

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: black;

    .links {
        text-decoration: none;
        color: white;
    }

    #btn {
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        padding: 0 32px;
        background: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;
        transition: 0.4s ease;
    }

    #btn:hover{
        opacity: 0.6;
    }
}